<div class="col-md-6 list-category ">
	<h3>Almeria</h3>
	<div class="well well-sm">
		<div class="row">
			<div class="col-xs-6 col-md-6 text-center">
				<h1 class="rating-num">23°</h1>
				<div class="rating">
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"> </span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"> </span>
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
				<div>
					<span class="glyphicons glyphicons-sun"></span>
					Despejado
				</div>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="row rating-desc">
					<div class="col-xs-3 col-md-3 text-right">5</div>
					<div class="col-xs-8 col-md-9">aa</div>
					<!-- end 5 -->
					<div class="col-xs-3 col-md-3 text-right">4</div>
					<div class="col-xs-8 col-md-9">aa</div>
					<!-- end 4 -->
					<div class="col-xs-3 col-md-3 text-right">3</div>
					<div class="col-xs-8 col-md-9">aa</div>
					<!-- end 3 -->
					<div class="col-xs-3 col-md-3 text-right">2</div>
					<div class="col-xs-8 col-md-9">aa</div>
					<!-- end 2 -->
				</div>
				<!-- end row -->
			</div>
		</div>
	</div>
	<div class="list-group">
		<a href="#" class="list-group-item">
			<div class="truncate pull-left">Option One - Primary</div>
			<span class="badge">14 views</span>
		</a>
		<a href="#" class="list-group-item">
			<div class="truncate pull-left">Option Two - Primary</div>
			<span class="badge">14 views</span>
		</a>
		<a href="#" class="list-group-item">
			<div class="truncate pull-left">Option Three - Primary</div>
			<span class="badge">14 views</span>
		</a>
		<a href="#" class="list-group-item">
			<div class="truncate pull-left">Option Four - Primary</div>
			<span class="badge">14 views</span>
		</a>
		<a href="#" class="list-group-item">
			<div class="truncate pull-left">Option Five - Primary</div>
			<span class="badge">14 views</span>
		</a>
	</div>
	<span class="list-footer">
		<a href="#" class="btn btn-sm btn-primary">View All</a>
	</span>
</div>