<div>
	<img src="assets/img/angularjs.png" width=64 height=64>

	<button ng-click="peticion()">Formula1 Drivers</button>
	<div ng-show="activityPeticion" ng-activity-indicator skip-ng-show="yes"></div>

	<div ng-if="season">Season {{season}}</div>

	<ul>
		<li ng-if="!standings" ng-show="!activityPeticion">No drivers loaded.</li>
		<li ng-repeat="standing in standings" ng-include="'views/standings/driver.html'"></li>
	</ul>

	<div ng-componente ng-city="San Francisco" ng-latitude="34.33"></div>
	<div ng-componente ng-city="Pepe" ng-latitude="32423"></div>
	<div ng-componente ng-city="El Ejido" ng-latitude="32423"></div>

</div>

